<div class="card mt-4">
  <div class="row no-gutters justify-content-around">
    <div class="col-md-3 mt-3">
      {{#if is-doctor}}
      <a href={{concat "doctor" uid}}>
        {{else}}
        <a href={{concat "pharmacy" uid}}>
          {{/if}}
          <img class="card__thumbnail" src={{image-url}}>
        </a>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{business-name}}</h5>
        {{#if rating}}
        <img class="card__ratings" src="images/stars/{{rating}}.png">
        {{else}}
        <div class="mb-2">No rating</div>
        {{/if}}
        {{#if is-doctor}}
        <p class="card-text">
          <strong>Specialties</strong><br>
          {{specialties}}
        </p>
        {{/if}}
        <p class="card-text">
          <strong>Address</strong> <br>
          {{street-address}} <br>
          {{city-state-address}}
        </p>
        {{#if is-doctor}}
        <a id="doctor-id" href={{concat "doctor" uid}}>
          {{else}}
          <a id="pharmacy-id" href={{concat "pharmacy" uid}}>
            {{/if}}
            <button class="btn btn-dark">View more</button>
          </a>
      </div>
    </div>
  </div>
</div>