{{> navbar}}
{{> back-button destinationURL="/injury-list" destinationName="Injury List"}}

<h2 class="titleName"> Common Injuries: {{sport_name}}</h2>

<div class="container mt-5 searchBar">
  <input class="form-control" id="myInput" type="text" placeholder="Search">
</div>

<div class="gallery">
  <div class="row">
    {{#each injuryList}}
    <a class="col-xs-12 col-sm-5 col-md-3 gallery__item" href="/injury-details/{{injury_id}}">
      <img height="90%" width="100%" src={{injury_image_url}} alt={{name}}>
      <h5 class="gallery__item__caption">{{injury_name}}</h5>
    </a>
    {{/each}}
  </div>
</div>


{{!-- {{#each injuryList.sports}}
<div class="commonInjuryBox">
  {{#each injuries}}
  <a href="/injury-details">
    <div class="cardCommon">
      <p>
        <h4>{{name}}</h4>
      </p>
      <div><img src={{imageURL}} alt={{name}}></div>
      <div>{{description}}</div>
      <br>
    </div>
  </a>
  {{/each}}
</div>
{{/each}} --}}