<!--

This file displays the common injuries for a specific sport. A description of the sport,
along with the name will be shown at the top of the page. This page also is able to filter
the injuries based on what the user types into the search bar. 

 -->
{{> navbar}}
{{> back-button destinationURL="/injury-list" destinationName="Injury List"}}

<div class="container">
  <h3 class="text-center mb-4">Common Injuries: {{sport_name}}</h3>
  <p>{{sport_overview}}</p>
</div>

{{> search-bar onCommonInjuryPage=this}}

<div class="gallery">
  <div class="row" id="commonInjuryList">
    {{#each injuryList}}
    <a class="col-xs-12 col-sm-5 col-md-3 gallery__item" href="/injury-details/{{injury_id}}">
      <img height="90%" width="100%" src={{injury_image_url}} alt="{{injury_name}} image">
      <h5 class="gallery__item__caption">{{injury_name}}</h5>
    </a>
    {{/each}}
  </div>
</div>

<span class="d-none" id="sportId">{{sport_id}}</span>

<script>
  document.addEventListener("DOMContentLoaded", event => {
    $('#search-bar__input').on('keyup search', () => {
      const sportId = $('#sportId').html();
      console.log('sportId is', sportId);
      const query = $('#search-bar__input').val();

      const data = { sportId, searchQuery: query };

      fetch(`/common-injury/?sportId=${encodeURIComponent(data.sportId)}&searchQuery=${encodeURIComponent(data.searchQuery)}`).then(response => {
        console.log('response is', response);
        return response.json();
      }).then(filteredInjuries => {
        console.log('the filtered injuries are', filteredInjuries);
        $('#commonInjuryList').html('');
        filteredInjuries.forEach(injury => {
          $('#commonInjuryList').append(`
                   <a class="col-xs-12 col-sm-5 col-md-3 gallery__item" href="/injury-details/${injury.c_injury_id}">
                    <img height="90%" width="100%" src=${injury.c_injury_image_url} alt=${injury.c_injury_name}>
                    <h5 class="gallery__item__caption">${injury.c_injury_name}</h5>
                  </a>
                  `)
        });
      });
    });
  });
</script>
