{{> navbar}}
{{> back-button destinationURL="/" destinationName="Home"}}

<h2 class="text-center mb-5">Current Injuries Log</h2>

<div class="container mb-4">
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link active" href="/current-log">Current injuries</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/previous-log">Past injuries</a>
    </li>
  </ul>
</div>

<div class="container d-flex flex-row-reverse mb-4">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#injuryModal">
    Add new injury
  </button>
</div>

<div class="container">
  {{#each currentInjury}}
  <div class="card" id="injury{{injury_id}}">
    <div class="card-body container">
      <h5 class="card-title">{{name}}</h5>
      <h6 class="card-subtitle mb-4 text-muted">{{description}}</h6>
      <h6 class="card-subtitle mb-4 text-muted"><strong>Created: </strong>{{created_at_string}}</h6>

      <h6 class="card-subtitle mb-4 text-muted"><strong>Expected recovery date: </strong>
        {{#if expected_recovery_date_string}}
        {{expected_recovery_date_string}}
        {{else}}
        Not specified
        {{/if}}
      </h6>
      <h6 class="card-subtitle mb-4 text-muted"><strong>Treatment plan: </strong>
        {{#if treatment}}
        {{treatment}}
        {{else}}
        Not specified
        {{/if}}
      </h6>

      <!-- Log history data -->
      <div class="mb-4">
        <a class="btn btn-dark log-history-btn" data-toggle="collapse" href="#collapseLogHistory{{injury_id}}"
          role="button" aria-expanded="false" aria-controls="collapseLogHistory{{injury_id}}"
          data-injury_id={{injury_id}}>
          <i class="fa fa-history"></i> Log History
        </a>
      </div>
      <div class="collapse mb-4" id="collapseLogHistory{{injury_id}}">
        <div class="card card-body">
          <button class="btn btn-primary add-log mb-4" data-toggle="modal" data-target="#addLogModal"
            data-id={{injury_id}}>
            <i class="fa fa-edit" aria-hidden="true"></i>
            Create new log
          </button>
          <div class="injuryLogs" id="injuryLog{{injury_id}}">
          </div>
        </div>
      </div>
      <!-- End log history data -->

      <button class="btn btn-info update-injury" data-id={{injury_id}} data-toggle="modal"
        data-target="#updateInjuryModal" data-name="{{name}}" data-description="{{description}}"
        data-treatment="{{treatment}}" data-expected-recovery-date="{{expected_recovery_date_unix_timestamp}}"
        data-id="{{injury_id}}">
        <i class="fa fa-edit" aria-hidden="true"></i>
      </button>
      <button class="btn btn-danger delete-injury" data-id={{injury_id}}>
        <i class="fa fa-trash" aria-hidden="true"></i>
      </button>

      <button class="btn btn-success complete-injury" data-id={{injury_id}}>
        <i class="fa fa-check" aria-hidden="true">
          <span style="font-family:Arial;">I have recovered</span>
        </i>
      </button>
    </div>
  </div>
  {{/each}}
</div>

<!-- Add injury modal -->
{{> modal modalId="injuryModal" modalLabel="injuryModalLabel" modalTitle="Create Injury" method="post" action="/add-injury" 
input1Label="Name" input1Type="text" input1Name="name" 
input2Label="Description" input2Type="text" input2Name="description"
input3Label="Expected Recovery Date" input3Type="date" input3Name="expected_recovery_date"
input4Label="Treatman Plan" input4Type="text"  input4Name="treatment"
saveInputType="submit" saveInputValue="Create Injury"
}}

<!-- Update injury modal -->
{{> modal modalId="updateInjuryModal" modalLabel="updateInjuryModalLabel" modalTitle="Edit Injury" method="post" action="/update-injury" 
hiddenInput1Name="id" hiddenInput1Id="update-id"
input1Label="Name" input1Type="text" input1Name="name" input1Id="update-name"
input2Label="Description" input2Type="text" input2Name="description" input2Id="update-description"
input3Label="Expected Recovery Date" input3Type="date" input3Name="expected_recovery_date" input3Id="update-expected-recovery-date"
input4Label="Treatman Plan" input4Type="text" input4Name="treatment" input4Id="update-treatment"
saveInputType="submit" saveInputValue="Save edit"
}}

<!-- Add log modal -->
{{> modal modalId="addLogModal" modalLabel="addLogModalLabel" modalTitle="Add progress log on injury" method="post" action="/add-log" 
hiddenInput1Name="injuryId" hiddenInput1Id="injury-id"
input1Label="Current injury status" input1Type="text" input1Name="logContent" input1Id="log-content" input1Placeholder="How do you feel?"
saveInputType="button" saveInputClass="add-log-btn" saveInputValue="Add log"
}}

<!-- Update log modal -->
{{> modal modalId="updateLogModal" modalLabel="updateLogModalLabel" modalTitle="Edit progress log on injury" method="post" action="/update-log" 
hiddenInput1Name="logId" hiddenInput1Id="update-log-id"
hiddenInput2Name="injuryId" hiddenInput2Id="update-injury-id"
input1Label="Current injury status" input1Type="text" input1Name="logContent" input1Id="update-log-content" input1Placeholder="How do you feel?"
saveInputType="button" saveInputClass="update-log-save" saveInputValue="Save"
}}

<script>
  document.addEventListener("DOMContentLoaded", event => {
    function appendLogItem(selector, injuryId, logId, dateString, timeString, content) {
      $(selector).append(`
            <div class="log-item log-item${logId}">
              <div class="log-item__date">
                ${dateString} 
              </div>
              <div class="log-item__time">
                ${timeString}
              </div>
              <div class="log-item__text">
                ${content}
              </div>

              <div class="log-item__buttons">
                <button class="btn btn-info update-log-icon" data-toggle="modal" data-log_id=${logId} data-injury_id=${injuryId} data-content="${content}" data-target="#updateLogModal">
                  <i class="fa fa-edit" aria-hidden="true"></i>
                </button>
                <button class="btn btn-danger delete-log" data-id=${logId}>
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
              </div>
            </div>      
            `);
    };

    function displayLogItems(injuryId) {
      $.ajax({
        url: `/view-logs/${injuryId}`,
        type: 'GET',
        success: logItems => {
          const injuryLogs = `#injuryLog${injuryId}`;
          $(injuryLogs).html('');
          if (logItems.length === 0) {
            return $(injuryLogs).append('No log history data');
          }
          logItems.forEach(logItem => {
            const dateString = new Date(logItem.time).toDateString();
            const timeString = new Date(logItem.time).toLocaleTimeString();
            const logId = logItem.log_id;
            const content = logItem.content;
            appendLogItem(injuryLogs, injuryId, logId, dateString, timeString, content);
          })
        },
        error: err => {
          console.log(err);
        }
      })
    };

    // After clicking "add log" icon, get injury id associated with this log
    // Save this injury id into a hidden input field
    $('.add-log').on('click', function () {
      const injuryId = $(this).data('id');
      $('#log-content').val('');
      $('#injury-id').val(injuryId);
    });

    $('.add-log-btn').on('click', function () {
      const injuryId = $('#injury-id').val();
      const logContent = $('#log-content').val();
      $.ajax({
        url: '/add-log',
        type: 'POST',
        data: {
          injuryId,
          logContent
        },
        success: result => {
          // Display new log item without refreshing page
          const injuryLogs = `#injuryLog${injuryId}`;
          const logId = result;
          const dateString = new Date().toDateString();
          const timeString = new Date().toLocaleTimeString();
          const content = $('#log-content').val();
          displayLogItems(injuryId);
        },
        error: err => {
          console.log(err);
        }
      });
    });

    // After clicking "Log History" button, show all log data associated with current injury
    $(`.log-history-btn`).on('click', function () {
      const injuryId = $(this).data('injury_id');
      displayLogItems(injuryId);
    });

    // After clicking "update log" icon:
    // Display pre-existing log content (and save id of the log/injury to update in a hidden input field)
    $('.injuryLogs').on('click', '.update-log-icon', function () {
      $('#update-injury-id').val($(this).data('injury_id'));
      $('#update-log-id').val($(this).data('log_id'));
      $('#update-log-content').val($(this).data('content'));
    });

    $('.update-log-save').on('click', function () {
      const logId = $('#update-log-id').val();
      const injuryId = $('#update-injury-id').val();
      const logContent = $('#update-log-content').val();
      $.ajax({
        url: '/update-log',
        type: 'POST',
        data: {
          logId,
          logContent
        },
        success: result => {
          // Display new log item without refreshing page
          const injuryLogs = `#injuryLog${injuryId}`;
          const logId = result;
          const dateString = new Date().toDateString();
          const timeString = new Date().toLocaleTimeString();
          const content = $('#log-content').val();
          displayLogItems(injuryId);
        },
        error: err => {
          console.log(err);
        }
      });
    });

    $('.injuryLogs').on('click', '.delete-log', function () {
      const id = $(this).data('id');
      console.log('The id of the log item to delete is', id);
      const url = `delete-log/${id}`;
      if (confirm('Delete this log?')) {
        $.ajax({
          url: url,
          type: 'DELETE',
          success: result => {
            $(`.log-item${id}`).hide();
          },
          error: err => {
            console.log(err);
          }
        });
      }
    });

    $('.delete-injury').on('click', function () {
      const id = $(this).data('id');
      console.log('The id of the log to delete is', id);
      const url = `injury/${id}`;
      if (confirm('Delete this injury?')) {
        $.ajax({
          url: url,
          type: 'DELETE',
          success: result => {
            $(`#injury${id}`).hide();
          },
          error: err => {
            console.log(err);
          }
        });
      }
    });

    $('.complete-injury').on('click', function () {
      const id = $(this).data('id');
      console.log('The id of the injury to complete is', id);
      const url = `complete-injury/${id}`;
      if (confirm('Did you fully recover from this injury?')) {
        $.ajax({
          url: url,
          type: 'POST',
          data: {
            injury_id: id
          },
          success: result => {
            console.log('Completing injury...', result);
            window.location.href = '/current-log';
          },
          error: err => {
            console.log('Error with completing injury', err);
          }
        });
      }
    });

    $('.update-injury').on('click', function () {
      $('#update-name').val($(this).data('name'));
      $('#update-description').val($(this).data('description'));
      $('#update-treatment').val($(this).data('treatment'));
      $('#update-id').val($(this).data('id'));

      const recover_date_timestamp = $(this).data('expected-recovery-date');
      if (recover_date_timestamp) {
        const recover_date = new Date(recover_date_timestamp * 1000);
        const recover_day = recover_date.getDate() < 10 ? '0' + recover_date.getDate() : recover_date.getDate();
        let recover_month = recover_date.getMonth() + 1;
        recover_month = recover_month < 10 ? '0' + recover_month : recover_month;
        const recover_year = recover_date.getFullYear();
        const recover_date_formatted = `${recover_year}-${recover_month}-${recover_day}`
        $('#update-expected-recovery-date').val(recover_date_formatted);
      }
    });
  });
</script>