{{> navbar}}
{{> back-button destinationURL="javascript:history.back();" destinationName="Common Injuries"}}

<h2 class="titleName">{{injuryData.c_injury_name}}</h2>

<div class="container">
  <img src={{injuryData.c_injury_image_url}}
    style="display:block; margin-left:auto; margin-right:auto; margin-top: 1em; margin-bottom:1em;" alt="Leg Sprain"
    width="400px">

  <h4>Overview</h4>
  <p>{{injuryData.c_injury_overview}}</p>

  <h4>Symptoms</h4>
  <p>{{injuryData.c_injury_symptoms}}</p>

  <h4>Treatment</h4>
  {{injuryData.c_injury_treatment}}

  <p><a href="{{injuryData.c_injury_source}}" target="_blank">Source</a></p>
</div>


{{!-- 
<div class="remedies">
  <h4>Remedies</h4>
  <p>
    - Apply ice everyday for an hour <br />
    - Put an icy hot patch in the affected area
  </p>
</div>
<br>
<a href="https://youtu.be/WVootGaWv4M"> Video Guide</a> 
--}}