{{!-- 
    injury-details.handlebars
    This file displays the specific information for an injury (description about
    the injury, image of the injury, possible symptoms, treatments, and a link to
    the source page with more information about the injury). 
--}}

{{> navbar}}
{{> back-button destinationURL="javascript:history.back();" destinationName="Common Injuries"}}

<h2 class="text-center">{{injuryData.c_injury_name}}</h2>

<div class="container">
  <img src={{injuryData.c_injury_image_url}} class="injury-image" alt="Injury Image">

  <h4>Overview</h4>
  <p>{{injuryData.c_injury_overview}}</p>

  <h4>Symptoms</h4>
  <p>{{injuryData.c_injury_symptoms}}</p>

  <h4>Treatment</h4>
  <p>{{injuryData.c_injury_treatment}}</p>

  <p>
    <a href="{{injuryData.c_injury_source}}" target="_blank">Source</a>
  </p>
</div>