{{> navbar}}
{{> back-button destinationURL="/" destinationName="Home"}}

{{!-- <div class="topBox">
  <a class="btn btn-primary" href="/" role="button" id="back-btn">Back</a>
  <h2 class="titleName"> Injury Information </h2>
</div> --}}

<h2 class="titleName"> Injury Information </h2>

<div>
  <button type="button" name="filter" class="btn btn-primary">Filter</button>
</div>

<div class="gallery">
  <div class="row">
    {{#each injuryList.sports}}
    <a class="col-xs-12 col-sm-5 col-md-3 gallery__item" href="/common-injuries">
      <img height="90%" width="100%" src={{imageURL}} alt={{name}}>
      <h5 class="gallery__item__caption">{{name}}</h5>
    </a>
    {{/each}}
  </div>
</div>

{{!-- {{#each injuryList.sports}}
<div class="responsive">
  <a href="/common-injuries">
    <div class="card">
      <img src={{imageURL}} alt={{name}}>
      <h6 class="name">{{name}}</h6>
    </div>
  </a>
</div>
{{/each}} --}}