{{> navbar}}
{{> back-button destinationURL="/" destinationName="Home"}}

<h2 class="text-center mb-5">Past Injuries Log</h2>

<div class="container mb-4">
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link" href="/current-log">Current injuries</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/previous-log">Past injuries</a>
    </li>
  </ul>
</div>

{{#each previousInjury}}
<div class="card container">
  <div class="card-body container">
    <h5 class="card-title">{{name}}</h5>
    <h6 class="card-subtitle mb-4 text-muted">{{description}}</h6>
    <h6 class="card-subtitle mb-4 text-muted"><strong>Created: </strong>{{created_at_string}}</h6>
    <h6 class="card-subtitle mb-4 text-muted"><strong>Expected recovery date: </strong>
      {{#if expected_recovery_date_string}}
      {{expected_recovery_date_string}}
      {{else}}
      Not specified
      {{/if}}
    </h6>
    <h6 class="card-subtitle mb-4 text-muted"><strong>Resolved: </strong>{{resolved_at_string}}</h6>

    <h6 class="card-subtitle mb-4 text-muted mb-4"><strong>Treatment plan: </strong>
      {{#if treatment}}
      {{treatment}}
      {{else}}
      Not specified
      {{/if}}
    </h6>

    <button class="btn btn-danger delete-injury" data-id={{injury_id}}>
      <i class="fa fa-trash" aria-hidden="true"></i>
    </button>
  </div>
</div>
{{/each}}

<script>
  document.addEventListener("DOMContentLoaded", event => {
    $('.delete-injury').on('click', function () {
      const id = $(this).data('id');
      console.log('The id of the injury to delete is...', id);
      const url = `injury/${id}`;
      if (confirm('Delete this injury?')) {
        $.ajax({
          url: url,
          type: 'DELETE',
          success: result => {
            console.log('Deleting injury...');
            window.location.href = '/previous-log';
          },
          error: err => {
            console.log(err);
          }
        });
      }
    });
  });
</script>